.centrar-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*botón Agregar Producto */
.producto button.addProduct {
  background-color: #efb810; /* Cambia el color de fondo a azul */
  border-radius: 20px; /* Establece los bordes redondeados */
  color: black; /* Cambia el color del texto a blanco */
  font-weight: bold; /* Establece el grosor del texto en negrita */
  padding: 10px 20px; /* Ajusta el espacio interno del botón a tu gusto */
}


/* Modal */
.titulo-modal {
  font-size: 2rem;
}

.etiqueta-label {
  font-size: 1.5rem;
}

.input-formulario {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #f9fadc;
  outline: none;
  border: none;
}

.pie-modal {
  display: flex;
  justify-content: center; /* Cambiamos flex-end a center para centrar horizontalmente */
  align-items: center; /* Agregamos para centrar verticalmente */
  margin-bottom: 2rem;
}


.btn-cerrar-dialogo {
  background-color: #cf1500;
  color: white;
  outline: none;
  border: 0;
  border-radius: 0.5rem;
  font-weight: 500;
  padding: 0.8rem;
  font-size: 1.5rem;
  margin: 1rem;
}
.btn-agregar-producto {
  background-color: #258a60;
  color: white;
  outline: none;
  border: 0;
  border-radius: 0.5rem;
  font-weight: 500;
  padding: 0.8rem;
  font-size: 1.5rem;
  margin-left: 0;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*Seccion principal*/

.main {
  padding-top: 7rem;
  background-color: #2d3035;
}

.carrusel {
  position: relative;
  width: 210px;
  padding: 0 18px;
  float: left;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

.carrusel-bs {
  background-color: #2d3035;
  height: 55rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carusel-img {
  height: 42rem;
}

.recuadro {
  box-shadow: gainsboro 0px 5px 15px 0px;
  padding: 0.8rem;
  border-radius: 2rem;
  height: 43.5rem;
  background-color: white;
  width: 45vw;
  margin-right: 3rem;
}

.eslogan-img {
  width: 40vw;
  height: 35rem;
  margin-left: 5rem;
}

/*
.carr-imagenes {
  width: 80vw;
} */

/*SECCION DE PRODUCTOS*/

.tarjetas {
  /*
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54); */
  /*background-color: white;*/
  height: 60rem;
  position: relative;
  margin-bottom: 5rem;
}

.dulces {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
  align-items: center;
}

.product-content {
  margin: 1rem;
}

/*Estilo carrusel de productos*/

.carousel-productos {
  position: absolute;
  right: -6rem;
  width: 100%;
  margin: 0px 0px;
}

@media (min-width: 768px) {
  .carousel-productos {
      margin: 0px 60px;
  }
}

.carrusel-list {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 57rem;
  padding: 10px 0px;
  margin: 0px auto;
  max-width: 90vw;
  overflow: hidden;
}

.carrusel-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease-in-out;
  background-color: white;
  border-radius: 4%;
}

/*
.carrusel-content {
  position: relative;
  width: 21rem;
  padding: 0 18px;
  float: left;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

@media (min-width: 768px) {
  .carrusel-content {
      width: 275px;
  }
} */

.carrusel-arrow {
  border-radius: 30px;
  background-color: #000;
  position: absolute;
  z-index: 4;
  width: 40px;
  height: 48px;
  text-align: center;
  border: 0;
  cursor: pointer;
}

.carrusel-arrow:focus {
  outline: 0;
}

.carrusel-arrow svg {
  width: 12px;
  height: 100%;
  color: #fff;
}

.carrusel-prev {
  left: 0px;
}

.carrusel-next {
  right: 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(25% - 2rem); /* El ancho de cada tarjeta es 25% menos los margenes */
  margin: 1rem;
}